.boxContacto {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    .gridContacto {
        width: 60%;
        .datosContacto {
            grid-area: cardContacto;
            .imgContacto {

            }
        }
        .formularioContacto {
            grid-area: formContacto;
        }
    }
}