.boxContacto {
    margin-top: 60px;
    display: flex;
    justify-content: center;

    .datosContacto {
        grid-area: cardContacto;
    }

    .formularioContacto {
        grid-area: formContacto;
    }

    .gridContacto {
        width: 60%;
    }
}