.cv {
    margin-top: 60px;
    padding: 10px;
    display: flex;
    justify-content: center;


    .miCard {
            padding: 20px;


        .boxImgCv {
            text-align: justify;

            .imgCv {
                padding: 20px;
            }
        }

        }
}

