.bodyBox {
    .cv {
        margin: 0%;
        margin-top: 5%;
        padding: 3%;
        .miCard {
                padding: 2%;
                padding-top: 3%;
            .boxImgCv {
                text-align: justify;
                background-color: $black;
                color: $withe;
                border: solid $withe;
                border-width: 0.5px;
                margin-top: 4%;
                .imgCv {
                    padding: 5%;
                }
                .miCardBody {
                    padding-top: 4%;
                  
                    .miCardTitulo {
                        padding-bottom: 6%;
                        font-weight: bold;
                    }
                }
                .boxMasCv {
                    font-size: larger;
                    font-weight: bold;
                    text-align:end;
                    padding: 4%;
                    .linkMas {
                            color: $lila-light;
                    }
                }
                
            }

        }
    }
}
