.miFooter {
    color:  $withe;
    padding: 2%;
    padding-bottom: 0%;
    .formFooter {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 3%;
        padding-bottom: 2%;
        .formEmail {
            width: 80%;
            .inputFooter {
                border-radius: 20px;
            }
        }
        .boxBtnFooter {
            text-align: center;
            width: 20%;
        }
    }
    .socialMediaIcon {
        padding-top: 1%;
        padding-bottom: 2%;
        display: flex;  
        flex-direction: row; 
        justify-content: center;
        .boxIcons{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 25%;
            padding-left: 2%;
            padding-right: 2%;
            .miIcon {
                font-size: 180%;
                opacity: 80%;
                color: $withe;
                transition: opacity .2s;
                &:hover {
                    opacity: 100%;;
                }
            }
        }
    }
    .footer__derechos {
        display: flex; 
        flex-direction: row; 
        justify-content: space-between;
        font-size: 80%;
    } 
}
