.socialMediaIcon {
    text-align: center;
}

.footer__derechos {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color:  $black;
} 

