.miGaleria {
    margin-top: 6%;
    padding-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 6%;
    .boxImgGaleria{
        padding: 1%;
        img {
            width: 100%;

            &:hover {
                border: 2px solid $gris-claro
            }
        }
    }
}
