.miGaleria {
    margin-top: 6%;
    padding-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 6%;
    .boxGaleria {
        .boxImgGaleria{
            padding: 1%;
            &:hover {
                filter: brightness(1.10);
            }
            img {
                width: 100%;
                transition: transform 0.5s;
                &:hover {
                    border: 2px solid $withe
                }
            }
        }
    }
}
.desfileBox {
    position: fixed;
    padding: 3%;
    margin-top: 3%;
    padding-top: 0%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
    transition: transform .2s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    &:target {
        transform: scale(1);
    }
    .boxDesfileImg {
        width: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .miClose {
        display: block;
        position: absolute;
        top: 50px;
        right: 40px;
        font-size: 25px;
        font-weight: bold;
        color: $lila-light;
        transition: background-color .5s;
        &:hover {
            color: $lila-power;
        }
    }
    .miNext {
        font-size: 25px;
        margin-top: 10%;
        padding: 2%;
        font-weight: bold;
        color: $lila-light;
        transition: background-color .5s;
        &:hover {
            color: $lila-power;
        }
    }
}
