.galeria {
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    img {

        width: 100%;

        &:hover {

            border: 2px solid $lila-power

        }
    }
}
