.miNav{
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    font-weight: bold;
    background-color: $black !important;
    .barrita {
        margin: 1.5%;
        .barritajr {
            .barritabb {
                width: 100%;
                display: flex;
                justify-content: space-between;
          
                .itemDelMenu {
                    transition: color .3s;
                    &:hover {
                        color: $lila-power;
                    }
                }
            }
        }
    }
}