.contenedorHome {
        margin-top: 6%;
        .boxBannerMasImg {
                .boxBanner {
                        height: 250px;
                        padding-bottom: 10%;
                        padding-top: 10%;
                        background-image: url(././../assets/banner2.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-attachment: fixed;
                }
                .boxImagenPrincipal {
                        background-color: rgb(17, 17, 17);
                        .imagenPrincipal {
                                width: 40%;
                        }
                }
        
        }
        .boxSectionBio {
                color: $withe;
                padding: 3%;
                padding-top: 0%;
                padding-bottom: 0%;
                #bioFio {
                        padding-top: 1%;
                        padding-bottom: 2%;
                        .tituloBio{
                                color: $lila-light;
                                padding-top: 7%;
                                font-size: 400%;
                                font-weight: bold;
                                }
                        }
                .boxTextos{
                        margin-bottom: 0%;
                        padding-bottom: 0%;
                        font-size: 120%;
                        .boxParrafos {
                                text-align: justify;
                                padding-bottom: 2%;
                                        p {
                                                margin-bottom: 0%;
                                        }
                        }
                        .circulito {
                                width: 100%;
                                font-size: 130%;
                                text-align: center;
                                color: $lila-power;
                         }
                }
                        

        }

}