@media  screen and (max-width:648px) {

    /* Contacto */
    
    .gridContacto {
        justify-content: center;
        display: grid;  
        grid-template-areas:    "cardContacto"
                                "formContacto"
    }


    .miCard {
        border: solid salmon;
        padding: 20px;
    }
}
