@media  screen and (max-width:648px) {

     /* NavBar */
    .miNav{
        font-size: 18px;
    }

    /* BIO */
    .boxSectionBio{
        margin: 2%;
        #bioFio {
            .tituloBio{
                    margin-top: 10%;
                    font-size: 250%;

            }
    }
    }

    /* Contacto */
    .gridContacto {
        justify-content: center;
        display: grid;  
        grid-template-areas:    "cardContacto"
                                "formContacto"
                            }

    .datosContacto {
        margin-bottom: 30px;
    }

    .miCard {
        padding: 20px;
    }

}

    