@media  screen and (max-width:648px) {

    /* Contacto */
    
    .gridContacto {
        justify-content: center;
        display: grid;  
        grid-template-areas:    "cardContacto"
                                "formContacto"
                            }

    .datosContacto {
        margin-bottom: 30px;
    }

    .miCard {
        padding: 20px;
    }
}

    