@media  screen and (max-width:768px) {

     /* NavBar */
    .miNav {
        font-size: 18px;
    }

    /* HOME-BIO */
    .contenedorHome {
        padding-top: 10%;
        .boxBannerMasImg {
            .boxBanner {
                height: 200px;
                padding-top: 10%;
                background-image: url(././../assets/banner22.png);
            }
        }
        .boxSectionBio {
            margin: 2%;
            #bioFio {
                .tituloBio {
                        margin-top: 10%;
                        font-size: 250%;
                }
        }
        }
    }

    /* Fotos */
    .miGaleria {
        padding: 8%;
    }
    .desfileBox {
        .miClose {
            top: 60px;
        }
    }
     /* Reel */


     /* CV */
     .cv {
        margin-top: 10%;
    }

    
    /* Contacto */
    .gridContacto {
        justify-content: center;
        margin-top: 10%;
        display: grid;  
        grid-template-areas:    "cardContacto"
                                "formContacto";
                                
        .datosContacto {
            margin-bottom: 10%;
        }
    }

    /* Botones */
    .miBoton {
        width: 6rem;
    }

    /* Footer */
    .miFooter {
        .formFooter{
            margin-top: 2%;
                .formEmail {
                    width: 60%;
                }
       
                .boxBtnFooter {
                    text-align: center;
                    width: 40%;
                }
            }
        .socialMediaIcon {
            .boxIcons {
                width: 50%;
                font-size: 100%;
            }
        }
    }
}