.boxReel {
    background-color: $gris-claro;
    border: solid blue;
    margin-top: 5%;
    padding-top: 9%;
    height: 80vh;
    display: flex;  
    flex-direction: row; 
    justify-content: center;


    .reelYoutube{
        border: solid red;

    }
}