.boxReel {
    margin-top: 5%;
    padding-top: 9%;
    height: 80vh;
    display: flex;  
    flex-direction: row; 
    justify-content: center;
    .reelYoutube{
        width: 560px;
        height: 315px;

    }
}