* {
    box-sizing: border-box;
    margin:0;
	padding: 0;
}

.bodyBox {
    background-color: $black;
    font-family: 'Oswald', sans-serif;
    cursor: url(././../assets/cursorlindo.png), auto;
    label {
        cursor: url(././../assets/cursorlindo.png), auto;
    }
    a {
        cursor: url(././../assets/cursorclic.png), auto;
    }
}



