/* Responsive Mobile */

@media  screen and (max-width:648px) {

/* index */

.gridIndex {
    display: grid;  
    grid-template-areas:    "menu"
                            "contenido"   
                            "footer";
}

.contenido {
    grid-area: contenido;
    display: grid;
    grid-template-areas:    "titulo"
                            "imagen"
                            "bio";
}

.header{
    font-size: 18px;
}


.tituloPrincipal {
    padding-top: 40px;
    font-size: 30px;
}

#imagenHome {
    height: 500px; 
    width: 400px;
    border-radius: 20px;
    margin:auto;
    display:block;
}

.bioTextos {
    display: grid;
    grid-template-columns: 1fr;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color:  #FFFFFF;
    margin: 5px;
    padding: 20px;  
}

/* page reel */

.reel {
    padding-top: 40px;
    height: 650px;
}


/* page fotos */


    .galeria {
        flex-direction: column;
    }

    .boxGaleria { 
        margin: 0px;
    }



/* page cv */

.cv {
    padding-top: 40px;
    margin: 10px;
    display: grid;  
    grid-template-areas:    "imagencv1"
                            "textocv1"
                            "imagencv2"      
                            "textocv2";
}


/* page contacto */

.gridContacto {
    display: grid;  
    grid-template-areas:    "menu"
                            "imgContacto"
                            "datosContacto"
                            "formContacto"   
                            "footer"; 
}

.formContacto {
    padding-top: 0px;
}




}