/* Usar camelCase */

* {
    box-sizing: border-box;
    margin:0;
	padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color:  #000000;
    font-family: 'Oswald', sans-serif;
    min-height: 100vh;
    border: solid tomato;
}

a { /* Afecta a todos los vinculos */
    color:  #FFFFFF;
}

.gridIndex {
    display: grid;  
    grid-template-areas:    "menu               menu            menu"
                            "contenido          contenido       contenido"   
                            "footer             footer          footer";
}

.header {
    grid-area: menu;
    background-color: #2b2929;
    font-size: 30px;
    font-weight: bold;
    position: fixed;
    width: 100%;
    align-items: center;
    height: fit-content;
}


.header__menu {
    display: flex;
    justify-content: space-around;
}

nav {
    justify-items: center;
}

.contenido {
    grid-area: contenido;
    display: grid;
    grid-template-areas:    "titulo     titulo      titulo"
                            "imagen     imagen      imagen"
                            "bio        bio         bio";
}

.tituloPrincipal {
    padding-top: 50px;
    grid-area: titulo;
    /*background-color: #6d6d6d;*/
    background-image: linear-gradient(#2d2b2b, #d6cece);
    width: 100%;
    color: #ffffff; 
    font-size: 80px;
    text-align: center;
}

.imagenPrincipal {
    background-color: #3d3d3d;
    grid-area: imagen;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    width: 100%;
    height: 700px; 
}

.boxImagenHome {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%; 
    height: 90%;
    background-color: #3d3d3d;
  
}

#imagenHome {
    border-radius: 20px;
    width: 70%;
    height: 100%;
    object-fit: cover;
}



.biografia {
    grid-area: bio;
    display: flex;
    flex-direction: column;
}

.tituloBio {
    font-size: 40px;
    margin: 5px;
    padding: 20px;
    padding-left: 28px;
    padding-bottom: 0%;
    color: #FFFFFF;  
}

.bioTextos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color:  #FFFFFF;
    margin: 5px;
    padding: 20px;  
}

.bioParrafos {
    text-align: justify;
    margin: 10px;
}

.footer {
    margin: 10px;
    margin-bottom: 0px;
    grid-area: footer;
    border: solid green;
}

.form {
    font-size: 20px;
    border: solid aqua;
    color: #FFFFFF;
}


.btn { 
    color: #000000; 
    background-color: #A937F9;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: 16px;
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff; 
}

.packageSocialMediaIcon {
    text-align: center;
    border: solid yellow;
}

.socialMediaIcon {
    width: 30px; 
    height:30px;
}

.footer__contacto {
    padding-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    border: solid blue;
}

.footer__derechos {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    border: solid salmon;
    color:  #FFFFFF
   
}

.gridFotos {
    display: grid;  
    grid-template-areas:    "menu"
                            "galeria"   
                            "footer";
}

.galeria {  
    grid-area: galeria; 
    display: flex;
    flex-direction: row;
    padding: 60px;
}

.boxGaleria { 
    display: flex;
    flex-direction: column;
    margin: 8px;
    transition: 300ms;
}

.imagenFotos {
    max-width: 100%;
    margin-top: 5px;
    cursor: pointer;
}

.boxGaleria img:hover {
    transform: scale(1.05);
}


.gridReel {
    display: grid;  
    grid-template-areas:    "menu"
                            "reel"   
                            "footer";
}

.boxReel {
    padding-top: 60px;
    padding-bottom: 20px;
    width: 100%; 
    height: 365px;
    display: flex;
    justify-content: center;
    background-color: #3d3a3a; 
    border: solid yellow;
    grid-area: reel;  
}

.reel {
    padding: 100px;
    text-align: center;

}


.gridCv {
    display: grid;  
    grid-template-areas:    "menu"
                            "cv"   
                            "footer";
}



.cv {
    padding-top: 60px;
    margin: 30px;
    display: grid;  
    grid-template-areas:    "cvfila1"
                            "cvfila2";
}

.cvfila1 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    grid-area: cvfila1;
}

.cvfila2 {
    display: flex;
    justify-content: space-around;
    grid-area: cvfila2;
}

.cardcv {
    display: inline-block;
    text-align: center;
}

.imagenCv { 
    width: 200px; 
    height:200px;
}

.textosCv {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: justify;
    margin: 20px;
    color:  #FFFFFF;
}

#bienquerencia {
    grid-area: imagencv1; 
}

#circular {
    grid-area: imagencv2; 
}

#textocv1 {
    grid-area: textocv1;
}

#textocv2 {
    grid-area: textocv2;
}


.gridContacto {
    display: grid;  
    grid-template-areas:    "menu           menu"
                            "boxContacto    boxContacto"
                            "footer         footer"; 
}

.boxContacto {
    grid-area: boxContacto;
    display: grid;  
    grid-template-areas:    "imgContacto    formContacto"
                            "datosContacto  formContacto" ; 
}

.imgContacto {
    padding-top: 60px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: imgContacto;
}

.boximgContacto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px; 
    height: 200px;
    background:  #d2cfcf;
}

.idimgContacto {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.boxdatosContacto {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1.5px solid #CC84FF;
    width: 300px; 
    height:200px;
    color:  #FFFFFF;
}

.datosContacto {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    grid-area: datosContacto;
} 

.datosContacto ul {
    text-align: center;
}

.boxForm {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #CC84FF;
    border-radius: 5px;
    color:  #FFFFFF;
    padding: 25px;
    font-size: 20px;
}

.formContacto {
    padding-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: formContacto; 
}

input, textarea {
    border: none;
    outline: none;

}

form {
    color:  #FFFFFF 
}

.checkbox {
    padding-top: 10px;
}

.boxBtn {
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}

input[type="checkbox"]:checked {
    box-shadow: 0 0 0 2px #CC84FF;
  }

.campoForm {
 border: solid 1px #ccc;
 margin: 5px;
 padding: 5px;
 width: 25rem;
}

.campoForm:focus {
    border: solid 2px #CC84FF;
   }

.datosContacto ul {
    color:  #FFFFFF
}


/* .footer__Novedades {
    padding-top: 10px;
    Este div esta comentado - ver si no lo uso eliminar
}*/

