@import "./scss/variables";
@import "./scss/boton";
@import "./scss/reset&ff";
@import "./scss/header";
@import "./scss/footer";
@import "./scss/home-bio";
@import "./scss/galeria";
@import "./scss/reel";
@import "./scss/cv";
@import "./scss/contacto";


@import "./scss/media-queries";